# =============================
# Environment / Config files
# =============================
.env
.env.*
!.env.example

# =============================
# Build output
# =============================
dist/
build/

# =============================
# Dependencies
# =============================
node_modules/
dist-ssr/

# =============================
# Logs
# =============================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =============================
# OS / Editor files
# =============================
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =============================
# IDE / Editor folders
# =============================
.vscode/*
!.vscode/extensions.json
.idea/

# =============================
# Miscellaneous
# =============================
*.local