{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "es5",
    "printWidth": 80,
    "bracketSameLine": true,
    "arrowParens": "always",
    "endOfLine": "lf"
}
